body{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin: 0
}

header {
  height: 300px;
  overflow: hidden;
  background-image: url(../img/AirTrafficImg.jpg);
  background-position-y: 40%;
  background-size: cover;
}

.header-title {
  text-align: center;
  height: 300px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
.header-image {
  width: 100%;
}

/***------ TYPOGRAPHY ------***/

.header-title h1 {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.77);
}

h2{
  text-align: center;
  font-size: 26px;
}

/***------ BUTTONS ------***/

.btn {
  padding: 12px 40px;
  font-size: 16px;
  background-color: #267dc7;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  transition:  background-color 0.2s ease-in-out;
  -webkit-transition:  background-color 0.2s ease-in-out;
  cursor: pointer;
}

.btn:hover, .active, .btn:active {
  background-color: #033d66;
  outline: none
}

.btn:focus {
  outline: none
}

.error-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#error_message {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0
}

/***------ PLANES ------***/

#planes {
  padding: 40px 10px;
}

#one_plane {
  text-align: center;
  margin-top: 30px
}

.plane-icon {
  color: #267dc7
}

.plane-icon, .planes-altitude, .planes-id {
  display: inline-block;
  display: inline-block;
  margin-right: 20px;
  border-right: 1px solid #000;
  padding-right: 20px;
  margin-bottom: 20px;
}

.more-info {
  text-align: left;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition:  max-height 0.7s ease-in-out;
  -webkit-transition:  max-height 0.7s ease-in-out;
  height: auto;
  max-height: 0;
  display: block;
  max-width: 800px;
  overflow: hidden;
  font-size: 18px
}

.more-info td {
  padding: 5px 10px 5px 0px;
}

.more-info td:first-child {
  font-weight: 600;
  text-align: right;
}

.visible {
  max-height: 600px;
  border-bottom: 2px solid #033d66;
}

.logo {
  margin-top: 5px
}

/***------ RESPONSIVE CHANGES ------***/

@media screen and (max-width: 760px) {
  .logo {
    display: none
  }
  .more-info tr:last-child td {
    text-align: center;
  }
  .plane-icon, .planes-altitude, .planes-id {
    font-size: 18px;
  }
  .more-info {
    font-size: 16px;
    width: 100%;
  }
}

@media screen and (min-width: 761px) {
  .logo-mobile {
    display: none;
  }
}
